// presets - text styles
@mixin preset__p($tc: var(--text)) {
	display: block;
	color: $tc;
	font-size: var(--fs__base);
	letter-spacing: 0;
	line-height: 1.4;
	font-weight: var(--fw__medium);
	a {
		font-size: 20px;
		color: var(--primary);
		font-weight: var(--fw__medium);
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
@mixin preset__p__s($tc: var(--text)) {
	@include preset__p();
	font-size: calc(var(--fs__base) - 2px);
	font-weight: var(--fw__regular);
	a {
		font-size: 18px;
	}
}
@mixin preset__p__xs($tc: var(--text)) {
	@include preset__p__s();
	font-size: calc(var(--fs__base) - 4px);
	a {
		font-size: calc(var(--fs__base) - 4px);
	}
}

@mixin preset__label() {
	font-weight: var(--fw__bold);
	color: var(--text__dark);
	font-size: var(--fs__base);
}
@mixin preset__s__label() {
	font-weight: var(--fw__semiBold);
	color: var(--text);
	font-size: calc(var(--fs__base) - 2px);
}

@mixin preset__h1($tc: var(--primary)) {
	font-weight: var(--fw__semiBold);
	color: $tc;
	letter-spacing: -1px;
	font-size: 70px;
	line-height: 0.9;
}
@mixin preset__h2($tc: var(--primary)) {
	font-weight: var(--fw__bold);
	color: $tc;
	letter-spacing: -0.5px;
	font-size: 48px;
	line-height: 1.15;
}
@mixin preset__h3($tc: var(--primary)) {
	font-weight: var(--fw__semiBold);
	color: $tc;
	letter-spacing: -0.5px;
	font-size: 26px;
	line-height: 1.2;
	strong {
		font-weight: var(--fw__bold);
	}
}
@mixin preset__h4($tc: var(--primary)) {
	font-weight: var(--fw__bold);
	color: $tc;
	letter-spacing: -0.5px;
	font-size: 22px;
	line-height: 1;
}
@mixin preset__h5($tc: var(--primary)) {
	font-weight: var(--fw__semiBold);
	color: $tc;
	letter-spacing: -0.5px;
	font-size: 20px;
	line-height: 1;
}
@mixin preset__h6($tc: var(--primary)) {
	font-weight: var(--fw__semiBold);
	color: $tc;
	letter-spacing: -0.5px;
	font-size: 16px;
	line-height: 1;
}

// presets - generic
@mixin preset__scroll($bg: var(--scroll__bg), $bar: var(--scroll__bar), $size: var(--scroll__size), $radius: var(--scroll__radius)) {
	&::-webkit-scrollbar {
		width: $size;
		height: $size;
	}
	&::-webkit-scrollbar-button {
		width: 0;
		height: 0;
	}
	&::-webkit-scrollbar-thumb {
		background: $bar;
		border: 0;
		border-radius: $radius;
		height: $size;
	}
	&::-webkit-scrollbar-track {
		background: $bg;
		border: 0;
		border-radius: $radius;
		height: $size;
	}
}
@mixin preset__masks() {
	background: var(--primary);
	opacity: 0.85;
	display: block;
	width: 100%;
	height: 100%;
}