.l-headerProduct {
	display: block;
	width: 100%;
	&__hero {
		display: block;
		width: 100%;
		position: relative;
		z-index: 1;
		background: var(--black2);
		height: 100vh;
		min-height: 690px;
		max-height: 800px;
	}
	&__effect {
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 2;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 0 184px 690px;
		border-color: transparent transparent #ffffff transparent;
	}
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		display: block;
		width: 100%;
		height: 100%;
		z-index: 1;
		&__gradientMask {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			display: block;
			width: 100%;
			height: 100%;
			background: linear-gradient(180deg, rgba(24, 37, 84, 0.5) 0%, rgba(0, 0, 0, 0) 46.88%, rgba(0, 0, 0, 0) 59.37%, rgba(33, 48, 103, 0.185) 100%), rgba(33, 48, 103, 0.3);
		}
		&__img {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__content {
		position: relative;
		z-index: 3;
		padding-top: 240px;
		padding-bottom: 200px;
		.c-defaultContentStyle {
			max-width: 700px;
			* {
				color: var(--white);
			}
			h6 {
				text-transform: uppercase;
			}
			h1 {
				margin: 15px 0;
				max-width: 640px;
			}
		}
		.c-photo {
			display: none;
		}
	}
	&__scroll {
		display: block;
		width: 100%;
		padding-bottom: 30px;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 4;
		.c-scrollLink {
			max-width: 200px;
		}
	}

	&.--movaUp {
		.l-headerProduct__hero {
			background: var(--third__light);
		}
		.l-headerProduct__bg__gradientMask {
			opacity: 0.9;
			background: linear-gradient(180deg, rgba(24, 37, 84, 0.5) 0%, rgba(0, 0, 0, 0) 46.88%, rgba(0, 0, 0, 0) 59.37%, rgba(33, 48, 103, 0.185) 100%), rgba(33, 48, 103, 0.3);
		}
		.l-headerProduct__bg__img {
			@include pb(90%);
			opacity: 0.35;
		}
	}
	&.--movaOrto {
		.l-headerProduct__hero {
			background: var(--secondary);
		}
		.l-headerProduct__bg__gradientMask {
			opacity: 0.9;
			background: linear-gradient(180deg, rgba(24, 37, 84, 0.5) 0%, rgba(0, 0, 0, 0) 46.88%, rgba(0, 0, 0, 0) 59.37%, rgba(33, 48, 103, 0.185) 100%), rgba(33, 48, 103, 0.3);
		}
		.l-headerProduct__bg__img {
			@include pb(90%);
			opacity: 0.35;
		}
	}

	&__breadcrumb {
		background: var(--white);
		padding: 20px 0;
	}
}
@media screen and (max-width: 1140px) {
	.l-headerProduct {
		&__content {
			.c-defaultContentStyle {
				max-width: 500px;
			}
		}
	}
}
@media screen and (max-width: 920px) {
	.l-headerProduct {
		&__hero {
			min-height: 100vh;
			height: auto;
			max-height: inherit;
		}
		&__effect {
			border-width: 0 0 90px 337px;
		}
		&__content {
			padding-bottom: 130px;
			.c-defaultContentStyle {
				max-width: 680px;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 40px;
				* {
					text-align: center;
					max-width: 100% !important;
				}
			}
			.c-photo {
				display: block;
				margin: 0 auto;
				width: 100%;
				max-width: 340px;
			}
		}
		&__scroll {
			.c-scrollLink {
				margin: 0 auto;
			}
		}
	}
}
@media screen and (max-width: 640px) {
	.l-headerProduct__content {
		padding-top: 150px;
		padding-bottom: 40px;
		.c-defaultContentStyle h1 {
			font-size: 50px;
		}
	}
	.l-headerProduct__scroll {
		display: none;
	}
}





