.l-headerInner {
	&__content {
		display: block;
		padding-bottom: 100px;
		padding-top: 205px;
	}
	&__breadcrumb {
		display: block;
		padding-top: 20px;
		background: var(--white);
	}

	.c-defaultContentStyle {
		* {
			color: var(--white);
		}
	}
}