// presets - text styles
@mixin preset__p() {}
@mixin preset__s__p() {}
@mixin preset__xs__p() {}
@mixin preset__label() {
	font-weight: var(--fw__bold);
	color: var(--text__dark);
	font-size: var(--fs__base);
}
@mixin preset__s__label() {
	font-weight: var(--fw__semiBold);
	color: var(--text);
	font-size: calc(var(--fs__base) - 0.15rem);
}

@mixin preset__h1() {
	font-weight: var(--fw__bold);
	color: var(--primary);
	letter-spacing: -1px;
	font-size: 38px;
	line-height: 0.95;
}
@mixin preset__h2() {
	font-weight: var(--fw__bold);
	color: var(--primary);
	letter-spacing: -1px;
	font-size: 34px;
	line-height: 0.95;
}
@mixin preset__h3() {
	font-weight: var(--fw__bold);
	color: var(--primary);
	letter-spacing: -1px;
	font-size: 30px;
	line-height: 0.95;
}
@mixin preset__h4() {
	font-weight: var(--fw__semiBold);
	color: var(--primary);
	letter-spacing: -1px;
	font-size: 26px;
	line-height: 0.95;
}
@mixin preset__h5() {
	font-weight: var(--fw__semiBold);
	color: var(--primary);
	letter-spacing: -1px;
	font-size: 20px;
	line-height: 1.1;
}
@mixin preset__h6() {
	font-weight: var(--fw__semiBold);
	color: var(--primary);
	letter-spacing: -1px;
	font-size: 18px;
	line-height: 0.95;
}

// presets - generic
@mixin preset__scroll($bg: var(--scroll__bg), $bar: var(--scroll__bar), $size: var(--scroll__size), $radius: var(--scroll__radius)) {
	&::-webkit-scrollbar {
		width: $size;
		height: $size;
	}
	&::-webkit-scrollbar-button {
		width: 0;
		height: 0;
	}
	&::-webkit-scrollbar-thumb {
		background: $bar;
		border: 0;
		border-radius: $radius;
		height: $size;
	}
	&::-webkit-scrollbar-track {
		background: $bg;
		border: 0;
		border-radius: $radius;
		height: $size;
	}
}
@mixin preset__masks() {}