.s-productGrid {
	display: block;
	padding: 60px 0;
	background: var(--white);
	.u-container {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: flex-start;
	}
	&__content {
		flex: 1 1 auto;
		padding-right: 40px;
		&__grid {
			margin-bottom: 60px;
			border-bottom: 1px solid var(--gray);
		}
	}
	&__aside {
		@include flexWidth(300px);
	}

	.c-cardProduct {
		padding-bottom: 60px;
	}
	.c-search {
		margin-bottom: 30px;
	}
}

.c-search {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	position: relative;
	input {
		@include preset__p;
		display: block;
		width: 100%;
		padding-right: 42px;
		padding-bottom: 15px;
		border-bottom: 1px solid var(--gray);
		height: 50px;
		line-height: 50px;
		&:focus {
			border-bottom: 1px solid var(--primary);
		}
	}
	button {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: var(--radius);
		width: 35px;
		height: 35px;
		position: absolute;
		top: 0;
		right: 0;
		background: transparent;
		svg, img {
			display: block;
			width: 30px;
			height: 30px;
			object-fit: contain;
		}
		svg path {
			fill: var(--primary);
		}
	}
}

.c-productsFilter {
	display: block;
	width: 100%;
	padding: 20px 0;
	li {
		margin-bottom: 10px;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	a {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		.c-iconBlock {
			@include transition();
		}
		> span {
			@include transition();
			@include preset__p;
			padding-left: 10px;
			text-transform: uppercase;
			font-weight: var(--fw__semiBold);
			position: relative;
			top: -1px;
		}
		&:hover {
			> span {
				color: var(--text__dark);
			}
			.c-iconBlock {
				background: var(--gray);
			}
		}
		&.is-active {
			pointer-events: none;
			> span {
				color: var(--primary);
			}
			.c-iconBlock {
				background: var(--gray);
			}
		}
	}
}