.s-product {
	display: block;
	position: relative;
	z-index: 2;
	background: var(--white);
	padding-top: 50px;
	.u-container {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: flex-start;
	}
	&__aside {
		@include flexWidth(380px);
		padding: 0 40px 40px 40px;
		position: relative;
		margin-top: -700px;
		z-index: 2;
		.c-photo {
			width: calc(100% + 80px);
			position: relative;
			left: -40px;
			margin-bottom: 40px;
			.u-aspectRatio {
				overflow: inherit;
			}
			img {
				position: relative;
				left: -38px;
			}
		}
	}
	&__content {
		flex: 1 1 auto;
		padding-right: 40px;
		position: relative;
		z-index: 1;
		.c-photo img {
			max-width: 100%;
			margin: 0 auto;
			width: auto;
		}
		.c-toggleItem {
			margin-bottom: 40px;
			padding-bottom: 40px;
			&__head {
				pointer-events: none;
				i {
					display: none;
				}
			}
			&:last-of-type {
				border-bottom: 1px solid var(--gray);
				margin-bottom: 0;
			}
		}
	}
}


.c-tagsIconGrid {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 50px 0;
	.c-responsiveGrid {
		li {
			position: relative;
		}
	}
	.c-responsiveGrid.child__2,
	.c-responsiveGrid.child__4,
	.c-responsiveGrid.child__6,
	.c-responsiveGrid.child__8,
	.c-responsiveGrid.child__10 {
		li {
			&:nth-child(even) {
				top: -40px;
			}
		}
	}
	.c-responsiveGrid.child__3,
	.c-responsiveGrid.child__5,
	.c-responsiveGrid.child__7,
	.c-responsiveGrid.child__9,
	.c-responsiveGrid.child__11 {
		li {
			&:nth-child(even) {
				top: -40px;
			}
			&:last-of-type {
				top: -20px;
			}
		}
	}
}


