.s-sliderCards {
	position: relative;
	display: block;
	width: 100%;
	&__head {
		display: block;
		width: 100%;
		margin-bottom: 25px;
		padding: 0 5px;
	}
	&__content {
		display: block;
		position: relative;
		z-index: 1;
		&__slider {
			overflow: hidden;
		}
	}
	.u-container {
		z-index: 2;
	}
	.c-arrowButton {
		position: absolute;
		z-index: 2;
		top: 50%;
		margin-top: -13px;
		&.--right {
			right: -80px;
		}
		&.--left {
			left: -80px;
		}
	}
	.swiper-wrapper {
		padding-top: 30px;
		position: relative;
		z-index: 1;
		.swiper-slide {
			padding: 0 5px;
		}
	}

	&.--diagTop {
		padding-top: 60px;
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
			z-index: 1;
			border-style: solid;
			border-width: 512px 1920px 0 0;
			border-color: var(--white) transparent transparent transparent;
		}
	}

	&.--white {
		.c-defaultContentStyle {
			* {
				color: var(--white);
			}
		}
		.c-cardProduct {
			h3, h3 * {
				color: var(--white);
			}
		}
	}

	&.--pads {
		.swiper-wrapper {
			padding-bottom: 30px;
		}
	}
}
@media screen and (max-width: 1480px) {
	.s-sliderCards .c-arrowButton.--left {
		left: -50px;
	}
	.s-sliderCards .c-arrowButton.--right {
		right: -50px;
	}
	.s-sliderCards__content {
		display: block;
		width: 100%;
		max-width: calc(100% - 100px);
		margin: 0 auto;
	}
}
@media screen and (max-width: 780px) {
	.s-sliderCards__head {
		.c-defaultContentStyle h2 {
			font-size: 34px;
		}
	}
	.s-sliderCards.--diagTop {
		&:before {
			border-width: 274px 1024px 0 0;
		}
	}
}
@media screen and (max-width: 530px) {
	.s-sliderCards__content {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		//max-width: 300px;
	}
	.s-sliderCards__head {
		padding: var(--container__padding);
	}

	.s-sliderCards__content__slider {
		overflow: inherit;
		max-width: 280px;
		margin: 0 auto;
	}
	.s-sliderCards .u-container {
		padding-right: 0;
		padding-left: 0;
	}
}