.c-cardCompany {
	display: block;
	width: 100%;
	max-width: 600px;
	border-radius: var(--radius);
	padding: 20px;
	background: var(--white2);
	border: 1px solid var(--white3);

	.c-brand {
		max-width: 100px;
		margin-bottom: 5px;
	}
	.c-socialList {
		margin: 20px 0;
	}
	.c-defaultContentStyle {

	}
	.c-readmore {
		margin-top: 15px;
	}
}