.c-hamburguer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 23px;
	position: relative;
	cursor: pointer;
	@include transition();
	transform: rotate(0deg) skew(var(--defaultDeg));
	&__bar {
		@include transition();
		@include rotate(0deg, center);
		display: block;
		position: relative;
		width: 100%;
		height: 3px;
		background: var(--white);
		border-radius: 2px;
	}

	&.is-active {
		transform: rotate(180deg) skew(0deg);
		.c-hamburguer {
			&__bar {
				&.--a {
					@include rotate(45deg, center);
					top: 10px;
				}
				&.--b {
					@include hideElement;
				}
				&.--c {
					@include rotate(-45deg, center);
					bottom: 10px;
				}
			}
		}
	}
}